# Byte-compiled files
*.pyc
*.pyo
*.pyd
__pycache__/

# Distribution and build files
build/
dist/
*.egg-info/
*.egg

# Python virtual environments
venv/
.env/
venv.bak/
ENV/
env/
venv3/
env3/

# Testing
.nosetests
coverage/
*.cover
*.log

# IDE and editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Miscellaneous
*.swp
*.swo
*.py